[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=2.1"
python-dotenv = "*"
loguru = "*"

[dev-packages]
win32-setctime = "*"  # fucking broke ass windows

[requires]
python_version = "3.9"
